extends base.pug

block content
	form(action="/submit", method="post")
		input(type="text", name="Full Name");
		input(type="text", name="Team Name");
		input(type="text", name="Project Name");
		input(type="field", name="Update");
		input(type="submit", name="Submit");